
body {
    padding-top: 70px; 
    margin-bottom: 25px;
    }
section { 
  margin: 25px; 
}
footer {
  background-color: #444;
}
button {
   
  background-color: #333;
}

input.btn {
     margin: 3px;
  background-color: #333;
}
img {
  height: 100px
}
iframe {
  width: 100%;
  height: 100%;
}
#send-button{
  color: #06f;
}
#about {
  padding-bottom: 50px;
  border-bottom: solid black 10px;
  background-color:white;
}
#works {
  padding-bottom: 50px;
  border-bottom: solid black 10px;
  background-color:white;
}
#contact {
  padding-bottom: 50px;
  border-bottom: solid black 10px;
  background-color:white;
}
#social {
  padding-bottom: 50px;
  background-color:white;
}
