
body {
    padding-top: 4em; 
    margin-bottom: 2em;
    color: white;
    text-shadow: 0.01em 0.01em black;
    height: 70em;
    }
section { 
  margin: 2.5em; 
}

button {
   
  background-color: #333;
}

input.btn {
  margin: 3em;
  background-color: #333;
}
img {
  height: 10em;
}
h1 {
  margin: 10em;
}
 #soc_btn {
  margin-bottom: 5em;
}
#send-button{
  color: #06f;
}
#about {
  padding-bottom: 5em;
  height: 99%;
  background-image: url("https://farm6.staticflickr.com/5339/30255095631_93eb1776c8_c.jpg");
  background-size: cover;
}
#works {
  padding-bottom: 50px;
  height: 99%;
  background-image: url("https://farm6.staticflickr.com/5656/30255094261_3253e80237_b.jpg");
  background-size: cover;
}
#contact {
  padding-bottom: 50px;
  height: 99%;
  background-image: url("https://farm9.staticflickr.com/8271/30255080501_0b91718442_z.jpg");
  background-size: cover;
}
#social {
  
  background-color: gray;
}
