
body {
    padding-top: 45px; 
    margin-bottom: 25px;
    color: white;
    text-shadow: 1px 1px black;
    }
section { 
  margin: 25px; 
}

button {
   
  background-color: #333;
}

input.btn {
  margin: 30px;
  background-color: #333;
}
img {
  height: 100px
}
h1 {
  margin: 100px;
}
 #soc_btn {
  margin-bottom: 50px;
}
#send-button{
  color: #06f;
}
#about {
  padding-bottom: 50px;
  height: 700px;
  background-image: url("https://farm6.staticflickr.com/5339/30255095631_93eb1776c8_c.jpg");
  background-size: cover;
}
#works {
  padding-bottom: 50px;
  height: 700px;
  background-image: url("https://farm6.staticflickr.com/5656/30255094261_3253e80237_b.jpg");
  background-size: cover;
}
#contact {
  padding-bottom: 50px;
  height: 700px;
  background-image: url("https://farm9.staticflickr.com/8271/30255080501_0b91718442_z.jpg");
  background-size: cover;
}
#social {
  
  background-color: gray;
}
